<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Factors</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="container">
                <nav class="header__nav">
                    <a href="#" class="logo">
                        <img src="../static/images/logo.png" alt="Logo" class="logo__img">
                    </a>
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="#structure" class="header__link">Структура</a>
                        </li>
                        <li class="header__item">
                            <a href="#" class="header__link">lorem</a>
                        </li>
                        <li class="header__item">
                            <a href="#" class="header__link">lorem</a>
                        </li>
                        <li class="header__item">
                            <a href="#" class="header__link">lorem</a>
                        </li>
                        <li class="header__item">
                            <a href="#" class="header__link">lorem</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>
    <main class="main">
        <section class="section structure-section" id="structure">
            <div class="container">
                <div class="structure__inner">
                    <h2 class="title structure__title">Структура Даних</h2>
                    <p class="text structure__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum in eligendi velit aperiam, iure sit, facilis tempore saepe temporibus obcaecati hic iusto. Voluptate at aliquid provident doloribus, explicabo quam cupiditate.</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>